
{% load widget_tweaks %}



<!doctype html>
<html class="no-js juzi" lang="">
			<head>
			<meta charset="utf-8">
			<title>新增公司 | IT桔子</title>
			<meta name="viewport" content="width=device-width">
			<link rel="shortcut icon" href="https://www.itjuzi.com/assets/front/favicon.png">
			<link rel="apple-touch-icon-precomposed" href="https://www.itjuzi.com/assets/front/favicon.png">

			
			
			<!-- Uploadify -->
			<link rel='stylesheet' type='text/css' href='https://cdn.itjuzi.com/assets/common/uploadify/uploadify.css'>

			<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
			<link rel="stylesheet" href="https://cdn.itjuzi.com/assets/front/styles/main.css?v=14">

			<link rel="stylesheet" href="https://cdn.itjuzi.com/assets/front/styles/fontawesome.css">
			<link rel="stylesheet" href="https://cdn.itjuzi.com/assets/front/styles/swiper.min.css">

			<script src="https://cdn.itjuzi.com/assets/front/scripts/jquery.min.js"></script>
			<script src="https://cdn.itjuzi.com/assets/front/scripts/vendor/modernizr.js"></script>
		</head>
		<body >
		<script src="https://cdn.itjuzi.com/assets/front/scripts/vendor.js"></script>
		<div class="none"><img src="https://cdn.itjuzi.com/assets/front/favicon.png"></div>
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="thewrap">
							<header>
					<div>
						<div class="navbox">                
							<div class="boxed">
								<a class="logo fll" href="/projectm/">
									<h1 class="seeo">项目管理</h1>
								</a>
								<ul class="mainnav">
									<li class="tab on">
										<a href="/projectm/">首页</a>
									</li>
									
	
				
								</ul>
								<!-- <div class="fll mobile-none">
									<style type="text/css">
										.mainnav-ad{
											padding: 0px 10px;
											border-radius: 3px; 
											position: relative;
											background-color: #f60;
											margin-left: 18px;
											display: inline-block;
											height: 24px;
											line-height: 24px;
										}
										.mainnav-ad:before{
											position: absolute;
											left: -10px;
											content: '◀';
											color: #f60;
											height: 20px;
										}
										.mainnav-ad{
											color: #fff !important;
											font-weight: bold;
										}
									</style>
									<a class="mainnav-ad" href="https://www.itjuzi.com/joinus" target="_blank">我们正在招聘</a>
								</div> -->
								<div class="usernav">
									<div class="usersearch">
										<form action="/projectm/" method="post">
											{% csrf_token %}
                                            <input type="text" name="searchStr" spellcheck="false" autocomplete="off" placeholder="请输入公司名称…">
											<button class="jzbtn bg-c" type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
									<div class="useradd">
											<a target="_blank" href="/projectm/new/"><span class="jzbtn c-lined"><i class="fa fa-plus"></i> 添加公司</span></a>
																			</div>
	
									 <div class="userlogin">											
											<a class="jzbtn" href="/projectm/logout/">注销({{context.userName}})</a>
										</div>
																	</div>
							</div>
						</div>
										
											<div class="subnavbox">
	
						</div>
					</div>
				</header>

				<div class="sec nobg mobile-block">
					<div class="ui-mobile-usersearch boxed">
						<form action="https://www.itjuzi.com/search">
							<input type="text" name="key" spellcheck="false" autocomplete="off" placeholder="创业公司、投资机构等…">
							<button class="jzbtn bg-c" type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>
						<div class="site-bgbanner-ugc bgcover c-white">

</div>

<div class="boxed boxed-small">
	<div class="main">
		<div class="sec with-min-height">
			<div class="titlebar">
				<span><i class="fa fa-plus"></i> 详细信息</span>
				<span style="color:red;">{{context.stateStr}}</span>
			</div>
			<div>
				
				<div class="block-h block-v">
					<div>
						
						<form action="/projectm/{{context.companyId}}/update/" method="post" accept-charset="utf-8">
						  {% csrf_token %}
						<table class="ui-formui smallcenter ugc-inc">							
							
							<tr>								
								<td>{{form.companyId.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyId|attr:"size:40px" }}
									<p class="t-small mart5" style="color:red;" id="name_error">{{form.companyId.errors}}</p>
								</td>								
							</tr>
						
							<tr>								
								<td>{{form.industry.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.industry}}

								</td>								
							</tr>							
							
							
							<tr>								
								<td>{{form.companyName.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyName|attr:"size:40px" }}
									<p class="t-small mart5" style="color:red;" id="name_error">{{form.companyName.errors}}</p>
								</td>								
							</tr>

							<tr>								
								<td>{{form.companyNature.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyNature}}
								</td>								
							</tr>

							<tr>								
								<td>{{form.companyAddress.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyAddress|attr:"size:40px" }}
									<p class="t-small mart5 " style="color:red;" id="name_error">{{form.companyAddress.errors}}</p>
								</td>								
							</tr>

							<tr>								
								<td>{{form.companyRegisteredDate.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyRegisteredDate|attr:"size:40px" }}
									<p class="t-small mart5 " style="color:red;" id="name_error">{{form.companyRegisteredDate.errors}}</p>
								</td>								
							</tr>

							<tr>								
								<td>{{form.registeredCaptital.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.registeredCaptital|attr:"size:40px" }}
								</td>								
							</tr>


							<tr>								
								<td>{{form.contactPeople.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.contactPeople|attr:"size:40px" }}
								</td>								
							</tr>

							<tr>								
								<td>{{form.contactPhone.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.contactPhone|attr:"size:40px" }}
								</td>								
							</tr>

								<td colspan="2"><hr class="mart0"></td>



							<tr>								
								<td>{{form.companyAbstract.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyAbstract|attr:"type:textarea"|attr:"rows:20"|attr:"cols:60" }}
								</td>								
							</tr>	


							<tr>								
								<td>{{form.companyRemarks.label_tag}} </td>
								<td>									
									{{ form.companyRemarks|attr:"type:textarea"|attr:"rows:10"|attr:"cols:60" }}
								</td>								
							</tr>	

							<tr>								
								<td>{{form.companyFinancialSituation.label_tag}} </td>
								<td>									
									{{ form.companyFinancialSituation|attr:"type:textarea"|attr:"rows:5"|attr:"cols:60" }}
								</td>								
							</tr>	

				



							<tr>								
								<td>{{form.companyFinancialNeeds.label_tag}} </td>
								<td>									
									{{ form.companyFinancialNeeds|attr:"type:textarea"|attr:"rows:5"|attr:"cols:60" }}
								</td>								
							</tr>	


							<td colspan="2"><hr class="mart0"></td>

							<tr>								
								<td>{{form.user.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.user }}自动生成
									<p class="t-small mart5 " style="color:red;" id="name_error">{{form.user.errors}}</p>
								</td>								
							</tr>	

							<tr>								
								<td>{{form.companyFollowSuggest.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyFollowSuggest }}
								</td>								
							</tr>	
							
							<tr>								
								<td>{{form.companyCreateDate.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyCreateDate|attr:"size:40px" }}
								</td>								
							</tr>						

							<tr>								
								<td>{{form.companyProjectSetUpTime.label_tag}} </td>
								<td>									
									{{ form.companyProjectSetUpTime|attr:"size:40px" }}
								</td>								
							</tr>

							<tr>								
								<td>{{form.companyProjectPassDate.label_tag}} </td>
								<td>									
									{{ form.companyProjectPassDate|attr:"size:40px" }}
								</td>								
							</tr>

							<tr>								
								<td>{{form.companyUpdateDate.label_tag}} <i class="redstar">*</i></td>
								<td>									
									{{ form.companyUpdateDate|attr:"size:40px"}}自动生成
								</td>
														
							</tr>							








							<tr>
								<td colspan="2"><hr class="mart0"></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<p class="c-gray t-small">备注:<br>请大家填写时一定注意准确！ </p>
								</td>
							</tr>
							<tr>
								<td colspan="2"><hr class="mart0"></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<input  class="jzbtn bg-green width-l" type="submit" value="提交" />
									
								</td>
							</tr>
					
						</table>
						</form>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>







			</body>
</html>
