


<!doctype html>
<html class="no-js juzi" lang="">
			<head>
			<meta charset="utf-8">
			<title>项目查询 | 高投创投</title>
			<meta name="viewport" content="width=device-width">
			<link rel="shortcut icon" href="https://www.itjuzi.com/assets/front/favicon.png">
			<link rel="apple-touch-icon-precomposed" href="https://www.itjuzi.com/assets/front/favicon.png">

			
			
			<!-- Uploadify -->
			<link rel='stylesheet' type='text/css' href='https://cdn.itjuzi.com/assets/common/uploadify/uploadify.css'>

			<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
			<link rel="stylesheet" href="https://cdn.itjuzi.com/assets/front/styles/main.css?v=14">

			<link rel="stylesheet" href="https://cdn.itjuzi.com/assets/front/styles/fontawesome.css">
			<link rel="stylesheet" href="https://cdn.itjuzi.com/assets/front/styles/swiper.min.css">

			<script src="https://cdn.itjuzi.com/assets/front/scripts/jquery.min.js"></script>
			<script src="https://cdn.itjuzi.com/assets/front/scripts/vendor/modernizr.js"></script>
		</head>
		<body  class="notlogedin" >
		<script src="https://cdn.itjuzi.com/assets/front/scripts/vendor.js"></script>
		<div class="none"><img src="https://cdn.itjuzi.com/assets/front/favicon.png"></div>
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="thewrap">
							<header>
					<div>
						<div class="navbox">                
							<div class="boxed">
								<a class="logo fll" href="/projectm/">
									<h1 class="seeo">IT桔子</h1>
								</a>
								<ul class="mainnav">
									<li class="tab on">
										<a href="/projectm/">首页</a>
									</li>
								
									
								</ul>
	
								<div class="usernav">
									<div class="usersearch">
										<form action="/projectm/" method="post">
											{% csrf_token %}
                                            <input type="text" name="searchStr" spellcheck="false" autocomplete="off" placeholder="请输入公司名称…">
											<button class="jzbtn bg-c" type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
									<div class="useradd">
									<a target="_blank" href="/projectm/new/"><span class="jzbtn c-lined"><i class="fa fa-plus"></i> 添加公司</span></a>									
                                    </div>
									    <div class="userlogin">											
											<a class="jzbtn" href="/projectm/logout/">注销({{context.userName}})</a>
										</div>
									 								</div>
							</div>
						</div>
										
											<div class="subnavbox">
							<div class="boxed">                 

							</div>
						</div>
					</div>
				</header>

				<div class="sec nobg mobile-block">
					<div class="ui-mobile-usersearch boxed">
						<form action="https://www.itjuzi.com/search">
							<input type="text" name="key" spellcheck="false" autocomplete="off" placeholder="创业公司、投资机构等…">
							<button class="jzbtn bg-c" type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>
	<div class="boxed">
	<div class="sidebar right">


	
	<div class="sec">
	<div class="titlebar"><span>行业统计</span><a href="https://www.itjuzi.com/investfirm" class="right-btn flr" target="_blank">{{context.countAll}}</a></div>
	  <div>
		<ul class="list-link-lite top10">
				{% for key,value in context.tCount.industry.iteritems%}                                                        
                                                                 
				<li>
					<a href="javascript:void()">
						{{key}}<span class="flr">{{value}}</span>
					</a>
				</li>
				{% endfor %}
							
				</ul>
	 	 </div>
	</div>

	<div class="sec">
	<div class="titlebar"><span>跟进状态统计</span><a href="https://www.itjuzi.com/investfirm" class="right-btn flr" target="_blank">{{context.countAll}}</a></div>
	  <div>
		<ul class="list-link-lite top10">
				{% for key,value in context.tCount.companyFollowSuggest.iteritems%}                                                        
                                                                 
				<li>
					<a href="javascript:void()">
						{{key}}<span class="flr">{{value}}</span>
					</a>
				</li>
				{% endfor %}
							
				</ul>
	 	 </div>
	</div>


	<div class="sec">
	<div class="titlebar"><span>投资经理统计</span><a href="https://www.itjuzi.com/investfirm" class="right-btn flr" target="_blank">{{context.countAll}}</a></div>
	  <div>
		<ul class="list-link-lite top10">
				{% for key,value in context.tCount.user.iteritems%}                                                        
                                                                 
				<li>
					<a href="javascript:void()">
						{{key}}<span class="flr">{{value}}</span>
					</a>
				</li>
				{% endfor %}
							
				</ul>
	 	 </div>
	</div>


	</div>

	<div class="main">
		<div class="sec">
			<div class="titlebar for4btn">		
                <a href="#" class="on"><i class="fa fa-list"></i> 汇总信息 <span class="num flr c-gray t-small">{{context.countAll}}/{{context.userCount}}</span></a>
            </div>

			<div class="ui-filterui-block off">
				<ul class="ui-filterui">
					<li class="auto">
						<span class="title">行业分类</span>
						<div class="keys">
														
																{% for t in context.totalFileds.industry%}
                                                                     <a  href="/projectm/total/industry/{{t}}/">{{t}}</a>
                                                                {% endfor %} 
                                          
					</div>
					</li>

					<li class="auto">
						<span class="title">入库日期</span>
						<div class="keys">
														
																	{% for k,v in context.totalFileds.dateLit.iteritems%}
                                                                     <a  href="/projectm/total/dateLti/{{k}}/">{{k}}({{v}})</a>
                                                                    {% endfor %}    
                                                                    
						</div>
					</li>
					
					<li class="auto">
						<span class="title">投资经理</span>
						<div class="keys">														
																	{% for t in context.totalFileds.user%}
                                                                     <a  href="/projectm/total/user/{{t}}/">{{t}}</a>
                                                                    {% endfor %}    
                                                                    
						</div>
					</li>
					
					<li class="auto">
						<span class="title">跟进状态</span>
						<div class="keys">
														
																	{% for t in context.totalFileds.companyFollowSuggest%}
                                                                     <a  href="/projectm/total/follow/{{t}}/">{{t}}</a>
                                                                    {% endfor %}                                                                     
                                                                    
					</div>
					</li>

		


				</ul>
				<div class="rowbtn lower filter-more tac"><a><span class="arrow">▾</span> <span class="t-small">全部筛选项</span></a></div>
			</div>
		</div>
		<div class="boxed">
			<div class="list-main-index">
				<span class="c-gray t-small fll">查询 {{context.companysCount}} 条结果</span>
			</div>
		</div>
		<div class="sec">
			<div>
				<!-- block 搜索列表区 -->
				<div>
					<ul class="list-main-eventset thead">
						<li>
							<i class="cell round">
								入库时间
							</i>
					
							<i class="cell maincell">
								公司
							</i>
							<i class="cell round">
								跟进状态
							</i>
							<i class="cell fina">
								投资经理
							</i>
							<i class="cell date">
								公司成立时间
							</i>
						</li>
					</ul>
					<ul class="list-main-eventset">
								
                                {% for company in context.companys%}         
                                <li>
								<i class="cell round">
									<span>{{company.companyCreateDate}}</span>
								</i>							
								<i class="cell maincell">
									<p class="title">
										<a href="/projectm/{{company.id}}" target="_blank" >
										<span>{{company.companyName}}</span>
										</a>
									</p>
									<p>
										<span class="tags t-small c-gray-aset">
										<a>{{company.industry}}</a>
										</span>				
									</p>
								</i>
								<i class="cell round">
									<span class="tag gray">{{company.companyFollowSuggest}}</span>
								</i>
								<i class="cell fina">
									{{company.user}}
                                </i>
								<i class="cell date">
								{{company.companyRegisteredDate}}
								</i>
							</li>
                            {% endfor%}

													
							</ul>
				</div>

						</div>
		</div>
	</div>
</div>       
			</div>	

<script src="https://cdn.itjuzi.com/assets/front/scripts/main.js?v=16"></script>
			
	




			</body>
</html>
